<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>School Management System</title>
    <link rel="stylesheet" href="/styles.css">
    <style>
        #banner{
            height: 400px;
            width: 100%;
            /* position: relative;
            /* left: -1100px; */
            animation: moving 4s 0s ease infinite; */
        }
        img{
            height: 400px;
            width: 100%;
        }
        h1{
            animation: came 1s 0s ease-in infinite;
        }
        @keyframes came {
            0%{
                opacity: 0;
            }
            100%{
                opacity: 1;
            }
        }
        /* @keyframes moving {
            0%{
                left: -1100px;
            }
            50%{
                left: 0;
            }
            100%{
                left: -1100px;
            }
        } */
    </style>
</head>
<body>
    
    <nav>
        <a href="/">Home</a> |
        <a href="/students">View Students</a> |
        <a href="/students/add">Add Student</a> |
        <!-- Inside <body> somewhere appropriate -->
<a href="/fees-receipt" target="_blank" class="btn btn-primary">Generate Fees Receipt
</a><a href="/fees-report" class="btn btn-primary">Fees Report</a>



        
        <% if (loggedIn) { %> <!-- Only show logout if logged in -->
            <a href="/logout">Logout</a> |
        <% } %>
        
    </nav>
<h1>Welcome to Little Flower Playgroup</h1>
<div id="banner">
    <img src="/images/banner.jpeg" alt="">
</div>


    

</body>
</html>
